ul.errorlist {display: none}

.csudh_red{background-color: #860038 !important;}

.csudh_logo{
    display: block;
    margin-left: 15px;
    /* margin-right: 600px; */
    width: 200px;
}

.btn_margin{
    margin: 5px;
}