ul.errorlist {display: none}

.csudh_red{background-color: #860038 !important;}
.csudh_yellow{background-color: rgb(238, 186, 29) !important;}

.body-background{
    background-color: darkgray;
    min-height: 100vh;
    height: 100%;
}

.csudh_logo{
    display: block;
    margin-left: 15px;
    /* margin-right: 600px; */
    width: 200px;
}

.btn_margin{
    margin: 5px;
}